main {
  background-color: #0c0a07;
  min-height: 100px;
}

.container {
  padding: 20px;
  margin: auto;
}

.container .card {
  background-color: gray;
  color: white;
  box-shadow: 10px 8px 1pc white;
}

.card-header {
  color: #610606;
}

